<h2 mat-dialog-title>New datafield</h2>
<mat-dialog-content>
    <mat-form-field>
            <label>Description</label>
            <input matInput [(ngModel)]="data.description" value="" id="description" name="description" required pattern=".+">
            
    </mat-form-field>
    <mat-form-field>
        <label>Variable Name</label>
        <input matInput [(ngModel)]="data.varname" value="" id="varname" name="varname" required pattern="[a-z][a-z0-9]+">
    </mat-form-field>
    <mat-form-field>
            <label>Type</label>
            <mat-select [(ngModel)]="data.type" id="type" name="type" required>
                <mat-option *ngFor="let type of types" [value]="type.value">{{ type.name }}</mat-option>
            </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions style="float:right;margin-top:40px">
    <button class="mat-raised-button"(click)="close()" style="margin-right:5px">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()" [disabled]="!isValid()">Save</button>
</mat-dialog-actions>